:root {
  --border-radius: 4px;
  --border-size: 4px;
  --border-color-active: rgba(0, 0, 0, 0.2);
  --shadow-filter: drop-shadow(0 0 0.4rem rgba(0, 0, 0, 0.2));
}

.bernays {
  font-size: 12pt;
  font-family: "Helvetia Neue", Arial;
  background: white;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.bernays .expr, .bernays .menu, .bernays .name {
  font-family: Monaco;
}

.bernays p, .bernays h1 {
  white-space: normal;
}

.bernays .tree {
  width: fit-content;
  display: flex;
  flex-direction: column;
  z-index: 1;
  pointer-events: none;
  overflow: visible;
  position: relative;
}

.bernays .main {
  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
  position: absolute;
  filter: var(--shadow-filter);
}

.bernays .current, .bernays .current * {
  cursor: none !important;
}

.bernays .current > .conclusion > div {
  border: var(--border-size) dashed var(--border-color-active);
  background: #F9F0C1;
}

.bernays .current {
  z-index: 5;
  filter: none;
}

.bernays .has-current {
  z-index: 5;
}

.bernays .hypotheses {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  pointer-events: none;
  margin-bottom: 5px;
  margin-bottom: 2px;
  padding: 2px;
  border: 3px solid transparent;
  border-radius: var(--border-radius);
}

.bernays .hypotheses.active-scope {
  border: 3px dashed gray;
}

.bernays .hypotheses > :only-child {
  margin-left: auto;
  margin-right: auto;
}

.bernays .goal, .bernays .assumption, .bernays .conclusion > div {
  padding: var(--border-radius);
  border: var(--border-size) solid transparent;
  border-radius: var(--border-radius);
  min-width: 50px;
  text-align: center;
}

.bernays .assumption.current {
  width: fit-content;
}

.bernays .goal {
  width: fit-content;
  background: #A5C8E4;
}

.bernays .goal.active {
  border: var(--border-size) dashed var(--border-color-active);
}

.bernays .goal.over:not(.active) {
  background: #F6A8A6;
}

.bernays .goal.active.over {
  filter: brightness(1.3);
}

.bernays .pad {
  visibility: hidden;
}

.bernays .assumption {
  background: #C0ECCC;
  pointer-events: auto;
}

.bernays .middle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4px;
  overflow-y: visible;
}

.bernays .name {
  text-align: right;
  width: 20px;
  flex-grow: 0;
  font-size: 12pt;
  margin-right: 10px;
}

.bernays .bar {
  background-color: black;
  height: 2px;
  flex-grow: 1;
}

.bernays .discharge {
  width: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background: white;
  margin-left: 10px;
  border-radius: var(--border-radius);
  touch-action: none;
  user-select: none;
}

.bernays .discharge.interactive {
  cursor: move;
  pointer-events: auto;
}

.bernays .has-discharge > .hypotheses, .bernays .has-discharge > .conclusion {
  margin-right: 60px;
}

.bernays .conclusion {
  margin-top: 5px;
  margin-left: 30px;
  pointer-events: none;
}

.bernays .conclusion > div {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.bernays .example-tree {
  margin: auto;
  max-width: 600px;
  overflow: scroll;
}

.bernays .menu {
  position: relative;
  z-index: 3;
  margin: 10px;
  width: fit-content;
}

.bernays .menu .item, .bernays .menu .new-goal {
  width: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: move;
  text-align: center;
  background: white;
  margin-top: 10px;
  border-radius: var(--border-radius);
  touch-action: none;
  user-select: none;
  filter: var(--shadow-filter);
  pointer-events: auto;
}

.bernays .menu .new-goal {
  background: #A5C8E4;
  cursor: pointer;
}

.bernays .menu .new-goal:active {
  filter: brightness(1.3);
}

.bernays .conclusion.interactive > div, .bernays .goal.interactive, .bernays .assumption.interactive {
  cursor: move;
  pointer-events: auto;
}

.bernays .menu :first-child {
  margin-top: 0;
}

.bernays .main:not(.current) .conclusion.detach > div,
.bernays .main:not(.current) .goal.detach,
.bernays .main:not(.current).detach,
.bernays .main:not(.current) .assumption.detach {
  cursor: alias;
}

.bernays .trash {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 60px;
  font-size: 30px;
  height: 60px;
  background: #F6A8A6;
  border-radius: var(--border-radius);
  border: var(--border-size) solid transparent;
  z-index: 3;
  text-align: center;
  filter: var(--shadow-filter);
}

.bernays .trash i {
  vertical-align: middle;
  line-height: 60px;
}

.bernays .trash.active {
  border: var(--border-size) dashed var(--border-color-active);
}

.bernays .trash.over {
  filter: brightness(1.3);
}

.bernays .modal {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 7;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
}

.bernays .dialog {
  position: absolute;
  z-index: 9;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  left: 0;
  right: 0;
  top: 0;
  background: white;
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 600px;
  padding: 15px;
  border-radius: 15px;
  filter: var(--shadow-filter);
}

.bernays .dialog h1 {
  font-size: 16pt;
  margin-bottom: 5px;
}

.bernays .expr-input {
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12pt;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  width: 100%;
  font-family: Monaco;
  border: 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
}

.bernays .expr-input.invalid {
  background: #F6A8A6;
}

.bernays .dialog table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.bernays .dialog td {
  padding: 0;
  padding-top: 10px;
}

.bernays .dialog td.var {
  width: 20px;
  text-align: left;
}

.bernays .dialog td.to {
  width: 50px;
  text-align: center;
}

.bernays .dialog td.value {
  width: 100%;
}

.bernays .dialog .controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.bernays .dialog .controls a {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  border-radius: 15px;
  user-select: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
}

.bernays .dialog .controls a:hover {
  filter: brightness(1.1);
}

.bernays .dialog .controls a:active {
  margin-top: 2px;
  margin-left: 1px;
  border: 2px inset rgba(0, 0, 0, 0.1);
}

.bernays .dialog .controls .confirm {
  background: #F9F0C1;
}

.bernays .metavariable {
  display: inline-block;
  background: #ddd;
  border: 1px inset rgba(120, 120, 120, 0.5);
  padding-left: 4px;
  padding-right: 4px;
  color: black;
  border-radius: var(--border-radius);
  margin-left: 2px;
  margin-right: 2px;
}